{% extends "base.html.twig" %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Agence Immobilière</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus obcaecati voluptas magnam
            perferendis libero deserunt quia. Qui, veniam repellendus! Quos ea non accusantium exercitationem delectus
            quia corrupti, iure sit nemo.Sunt libero temporibus voluptate doloremque nam eveniet nulla quas maxime amet,
            facere, optio, ullam debitis. Ea voluptatem excepturi vel? Accusantium, iusto nesciunt. Dicta incidunt eius
            officiis natus, mollitia nam! Aperiam.
        </p>
    </div>
   


{% endblock %}