html{
    width: 100%;
}
body {
    height: 100vh;
    width: 100%;
    margin:auto;
    padding:auto;
}
#page {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
#homepage{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#header{
    background: linear-gradient(#101219,#222736);
    color: white;
    padding: 10px;
}
#header .nav-link ,.navbar-brand {
    color: white;
    margin-left: 5px;
}
#header a:hover{
    color: red;
}

#account {
    position: relative;
    left: 10px;
}

.jumbotron-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 30px;
}

.fa.fa-user{
    position: relative;
    right: 6.7em;
}

#login {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 6px 10px 30px 1px rgba(38,28,38,1);
}

#register {
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 6px 10px 30px 1px rgba(38,28,38,1);
}
.card {
    box-shadow: 0px 9px 31px -2px rgba(0,0,0,0.75);
    border-radius: 5px;
    min-height:250px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.carousel-item>img{
width: 300px;
height: 400px;
}

.pagination{
    margin-top: 10px;
    justify-content:center;
}