{% extends "base.html.twig" %}

{% block title  %}Gérer les biens{% endblock %}
{% block body %}
<div class="gestion">
    <div class="container mt-4">

        <h1 class="text-center">Gestion des biens</h1>
        <div class="d-flex justify-content-center mb-1">
            <a href="{{path('admin_new')}}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th class="d-flex justify-content-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for property in properties %}
                        <tr>
                            <td> {{ property.title }}</td>
                            <td class="d-flex justify-content-end"> 
                                <a href="{{ path('admin_edit', {'id': property.id}) }}" class="btn btn-warning d-flex mr-2">Editer<i class="fa fa-pencil ml-2 mt-1" aria-hidden="true"></i></a>    
                                <form action="{{ path('admin_delete', {'id': property.id}) }}" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}